.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.back-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
}

.back-icon:hover {
  color: var(--secondary-color);
}

h1 {
  font-weight: 400;
  color: white;
  background-color: var(--primary-color);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
}

.counters-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  border: 3px solid var(--secondary-color);
  border-radius: 15px;
}

.counter {
  font-weight: 700;
  font-size: 20px;
}

.diagramContainer {
  margin-top: 50px;
  width: 60vw;
  height: 45vh;
}

@media (max-width: 768px) {
  .diagramContainer {
    width: 80vw;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 15px;
  }
  .counter {
    font-size: 15px;
  }
}
